* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

header {
    background-color: #023D0F;
    width: 100%;
    text-align: center;
}

.page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

li {
    display:inline-block;
    min-width: 20vh;
    width: 20%;
    list-style: none;
    margin-bottom: 2vh;
    font-size:4vh;
}

#logito {
    width: 30vh;
    max-width: vh;
}

a {
    text-decoration: none;
    color:white;
}

.text {
    width: 100%;
}

#productos-titulo {
    font-family: 'Sono', sans-serif;
    font-size: 8vw;
    color: #023D0F;
}

.card {
    border: 2px solid #aaaaaa;
    margin:1vw;
    min-width: 34vh;
    max-width: 50vh;
    padding: 2%;
    font-size: 4vh;
}

.imagen {
    width: 30vh;
    max-width: 44vh;
}

button {
    border-color:#020202;
    color: white;
    background-color: #023D0F;
    width: 18vh;
    font-size: 4vh;
    margin:2vh;
}

.titulo {
    color: #023D0F;
}

.categoria {
    text-decoration: none;
}